<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bomb.mapper.BbWeekplanMapper">
    
    <resultMap type="BbWeekplan" id="BbWeekplanResult">
        <result property="planId"    column="plan_id"    />
        <result property="planNo"    column="plan_no"    />
        <result property="reqPlanDate"    column="req_plan_date"    />
        <result property="reqUserId"    column="req_user_id"    />
        <result property="reqDeptNo"    column="req_dept_no"    />
        <result property="qtyBombSmall"    column="qty_bomb_small"    />
        <result property="qtyBombBig"    column="qty_bomb_big"    />
        <result property="qtyBombTotal"    column="qty_bomb_total"    />
        <result property="techUserId"    column="tech_user_id"    />
        <result property="techAffirmDate"    column="tech_affirm_date"    />
        <result property="balanceUserId"    column="balance_user_id"    />
        <result property="balanceAffirmDate"    column="balance_affirm_date"    />
        <result property="billStatus"    column="bill_status"    />
        <result property="compId"    column="comp_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap id="BbWeekplanBbWeekplanDtlResult" type="BbWeekplan" extends="BbWeekplanResult">
        <collection property="bbWeekplanDtlList" notNullColumn="sub_plan_dtl_id" javaType="java.util.List" resultMap="BbWeekplanDtlResult" />
    </resultMap>

    <resultMap type="BbWeekplanDtl" id="BbWeekplanDtlResult">
        <result property="planDtlId"    column="sub_plan_dtl_id"    />
        <result property="planId"    column="sub_plan_id"    />
        <result property="planNo"    column="sub_plan_no"    />
        <result property="planItemNo"    column="sub_plan_item_no"    />
        <result property="mtrlNo"    column="sub_mtrl_no"    />
        <result property="mtrlName"    column="sub_mtrl_name"    />
        <result property="spec"    column="sub_spec"    />
        <result property="unit"    column="sub_unit"    />
        <result property="qtyPlanWeek"    column="sub_qty_plan_week"    />
        <result property="qtyPlanMon"    column="sub_qty_plan_mon"    />
        <result property="qtyPlanTue"    column="sub_qty_plan_tue"    />
        <result property="qtyPlanWed"    column="sub_qty_plan_wed"    />
        <result property="qtyPlanThu"    column="sub_qty_plan_thu"    />
        <result property="qtyPlanFri"    column="sub_qty_plan_fri"    />
        <result property="qtyPlanSat"    column="sub_qty_plan_sat"    />
        <result property="qtyPlanSun"    column="sub_qty_plan_sun"    />
        <result property="compId"    column="sub_comp_id"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="delFlag"    column="sub_del_flag"    />
        <result property="remark"    column="sub_remark"    />
    </resultMap>

    <sql id="selectBbWeekplanVo">
        select plan_id, plan_no, req_plan_date, req_user_id, req_dept_no, qty_bomb_small, qty_bomb_big, qty_bomb_total, tech_user_id, tech_affirm_date, balance_user_id, balance_affirm_date, bill_status, comp_id, create_by, create_time, update_by, update_time, del_flag, remark from bb_weekplan
    </sql>

    <select id="selectBbWeekplanList" parameterType="BbWeekplan" resultMap="BbWeekplanResult">
        <include refid="selectBbWeekplanVo"/>
        <where>  
            <if test="planNo != null  and planNo != ''"> and plan_no = #{planNo}</if>
            <if test="reqPlanDate != null  and reqPlanDate != ''"> and req_plan_date = #{reqPlanDate}</if>
            <if test="reqUserId != null  and reqUserId != ''"> and req_user_id = #{reqUserId}</if>
            <if test="reqDeptNo != null  and reqDeptNo != ''"> and req_dept_no = #{reqDeptNo}</if>
            <if test="qtyBombSmall != null "> and qty_bomb_small = #{qtyBombSmall}</if>
            <if test="qtyBombBig != null "> and qty_bomb_big = #{qtyBombBig}</if>
            <if test="qtyBombTotal != null "> and qty_bomb_total = #{qtyBombTotal}</if>
            <if test="techUserId != null  and techUserId != ''"> and tech_user_id = #{techUserId}</if>
            <if test="techAffirmDate != null  and techAffirmDate != ''"> and tech_affirm_date = #{techAffirmDate}</if>
            <if test="balanceUserId != null  and balanceUserId != ''"> and balance_user_id = #{balanceUserId}</if>
            <if test="balanceAffirmDate != null  and balanceAffirmDate != ''"> and balance_affirm_date = #{balanceAffirmDate}</if>
            <if test="billStatus != null  and billStatus != ''"> and bill_status = #{billStatus}</if>
        </where>
    </select>
    
    <select id="selectBbWeekplanByPlanId" parameterType="Long" resultMap="BbWeekplanBbWeekplanDtlResult">
        select a.plan_id, a.plan_no, a.req_plan_date, a.req_user_id, a.req_dept_no, a.qty_bomb_small, a.qty_bomb_big, a.qty_bomb_total, a.tech_user_id, a.tech_affirm_date, a.balance_user_id, a.balance_affirm_date, a.bill_status, a.comp_id, a.create_by, a.create_time, a.update_by, a.update_time, a.del_flag, a.remark,
 b.plan_dtl_id as sub_plan_dtl_id, b.plan_id as sub_plan_id, b.plan_no as sub_plan_no, b.plan_item_no as sub_plan_item_no, b.mtrl_no as sub_mtrl_no, b.mtrl_name as sub_mtrl_name, b.spec as sub_spec, b.unit as sub_unit, b.qty_plan_week as sub_qty_plan_week, b.qty_plan_mon as sub_qty_plan_mon, b.qty_plan_tue as sub_qty_plan_tue, b.qty_plan_wed as sub_qty_plan_wed, b.qty_plan_thu as sub_qty_plan_thu, b.qty_plan_fri as sub_qty_plan_fri, b.qty_plan_sat as sub_qty_plan_sat, b.qty_plan_sun as sub_qty_plan_sun, b.comp_id as sub_comp_id, b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time, b.del_flag as sub_del_flag, b.remark as sub_remark
        from bb_weekplan a
        left join bb_weekplan_dtl b on b.plan_id = a.plan_id
        where a.plan_id = #{planId}
    </select>
        
    <insert id="insertBbWeekplan" parameterType="BbWeekplan" useGeneratedKeys="true" keyProperty="planId">
        insert into bb_weekplan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planNo != null">plan_no,</if>
            <if test="reqPlanDate != null">req_plan_date,</if>
            <if test="reqUserId != null">req_user_id,</if>
            <if test="reqDeptNo != null">req_dept_no,</if>
            <if test="qtyBombSmall != null">qty_bomb_small,</if>
            <if test="qtyBombBig != null">qty_bomb_big,</if>
            <if test="qtyBombTotal != null">qty_bomb_total,</if>
            <if test="techUserId != null">tech_user_id,</if>
            <if test="techAffirmDate != null">tech_affirm_date,</if>
            <if test="balanceUserId != null">balance_user_id,</if>
            <if test="balanceAffirmDate != null">balance_affirm_date,</if>
            <if test="billStatus != null">bill_status,</if>
            <if test="compId != null">comp_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planNo != null">#{planNo},</if>
            <if test="reqPlanDate != null">#{reqPlanDate},</if>
            <if test="reqUserId != null">#{reqUserId},</if>
            <if test="reqDeptNo != null">#{reqDeptNo},</if>
            <if test="qtyBombSmall != null">#{qtyBombSmall},</if>
            <if test="qtyBombBig != null">#{qtyBombBig},</if>
            <if test="qtyBombTotal != null">#{qtyBombTotal},</if>
            <if test="techUserId != null">#{techUserId},</if>
            <if test="techAffirmDate != null">#{techAffirmDate},</if>
            <if test="balanceUserId != null">#{balanceUserId},</if>
            <if test="balanceAffirmDate != null">#{balanceAffirmDate},</if>
            <if test="billStatus != null">#{billStatus},</if>
            <if test="compId != null">#{compId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBbWeekplan" parameterType="BbWeekplan">
        update bb_weekplan
        <trim prefix="SET" suffixOverrides=",">
            <if test="planNo != null">plan_no = #{planNo},</if>
            <if test="reqPlanDate != null">req_plan_date = #{reqPlanDate},</if>
            <if test="reqUserId != null">req_user_id = #{reqUserId},</if>
            <if test="reqDeptNo != null">req_dept_no = #{reqDeptNo},</if>
            <if test="qtyBombSmall != null">qty_bomb_small = #{qtyBombSmall},</if>
            <if test="qtyBombBig != null">qty_bomb_big = #{qtyBombBig},</if>
            <if test="qtyBombTotal != null">qty_bomb_total = #{qtyBombTotal},</if>
            <if test="techUserId != null">tech_user_id = #{techUserId},</if>
            <if test="techAffirmDate != null">tech_affirm_date = #{techAffirmDate},</if>
            <if test="balanceUserId != null">balance_user_id = #{balanceUserId},</if>
            <if test="balanceAffirmDate != null">balance_affirm_date = #{balanceAffirmDate},</if>
            <if test="billStatus != null">bill_status = #{billStatus},</if>
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where plan_id = #{planId}
    </update>

    <delete id="deleteBbWeekplanByPlanId" parameterType="Long">
        delete from bb_weekplan where plan_id = #{planId}
    </delete>

    <delete id="deleteBbWeekplanByPlanIds" parameterType="String">
        delete from bb_weekplan where plan_id in 
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>
    
    <delete id="deleteBbWeekplanDtlByPlanIds" parameterType="String">
        delete from bb_weekplan_dtl where plan_id in 
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>

    <delete id="deleteBbWeekplanDtlByPlanId" parameterType="Long">
        delete from bb_weekplan_dtl where plan_id = #{planId}
    </delete>

    <insert id="batchBbWeekplanDtl">
        insert into bb_weekplan_dtl( plan_dtl_id, plan_id, plan_no, plan_item_no, mtrl_no, mtrl_name, spec, unit, qty_plan_week, qty_plan_mon, qty_plan_tue, qty_plan_wed, qty_plan_thu, qty_plan_fri, qty_plan_sat, qty_plan_sun, comp_id, create_by, create_time, update_by, update_time, del_flag, remark) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.planDtlId}, #{item.planId}, #{item.planNo}, #{item.planItemNo}, #{item.mtrlNo}, #{item.mtrlName}, #{item.spec}, #{item.unit}, #{item.qtyPlanWeek}, #{item.qtyPlanMon}, #{item.qtyPlanTue}, #{item.qtyPlanWed}, #{item.qtyPlanThu}, #{item.qtyPlanFri}, #{item.qtyPlanSat}, #{item.qtyPlanSun}, #{item.compId}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.delFlag}, #{item.remark})
        </foreach>
    </insert>

</mapper>